a {
  text-decoration: none;
  font-family: "Raleway", sans-serif;

  color: #0a2540;
}

.Container_link {
  width: 40rem;
}

.Contact__row {
  height: 90vh;
}

.Contact__row--column-1 {
  padding-left: 15rem;
}

.Contact__row--column-2 {
  padding-right: 15rem !important;
}

.Container_link--a {
  font-size: large;
}

.Container_link--a::after {
  content: "";
  background: black;
  display: block;
  height: 2px;
  width: 0%;
  margin-left: 15px;
  transition: 0.3s;
}

.Container_link--a:hover::after {
  width: 80%;
  transition: width 0.3s;
}
