strong {
  font-family: "Work Sans", sans-serif;
}

.title {
  color: #0a2540;
  font-family: "Work Sans", sans-serif;
  font-size: 5rem;

  position: relative;
}

.title_span {
  position: absolute;
  right: 0;
  width: 0;
  background-color: #f3f3f0;
  border-left: 2px solid #0a2540;
  animation: write 3s steps(50);
}

@keyframes write {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.Home {
  height: 100%;
}

.Home__row--column {
  height: 60rem;
}
